.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

/* on small devices the 80% make the burger not positioned in the center */
/*@media (min-width: 600px) {*/
/*    .CheckoutSummary {*/
/*        width: 500px;*/
/*    }*/
/*}*/
